.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

div#mapDiv {
	z-index: 1;
	position: absolute;
	top: 50px;
	right: -100px;

  /*border:1px solid black;*/
}

svg#mapMain {
	width : 960px;
	height : 500px;
}

h2 {
	font-size: 3em;
	margin-top:15px;
	margin-bottom: 5px;
}

div#wordcloudDiv {
  position: absolute;
	top: 50px;
	left: 50px;

}

canvas#canvas_cloud{
  width: 475px;
  height: 500px;
}
